<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Murex送账操作日志模板</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <style>
        .layui-form-label {
            padding: 5px 15px;
        }
        .layui-input, .layui-select, .layui-textarea {
            height: 25px;
            line-height: 25px\9;
        }
        .layui-form-select dl dd, .layui-form-select dl dt {
            line-height: 25px;
        }
        .layui-icon-date{
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -10px;
            cursor: pointer;
            font-size: 20px;
        }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-collapse">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title">Murex批量操作记录表</h2>
            <div class="layui-colla-content layui-show">
                <table class="layui-table" lay-size="sm" style="text-align: center">
                    <thead>
                        <tr>
                            <th width="50" style="text-align: center">批量日期</th>
                            <th width="120" style="text-align: center"><input type="text" class="layui-input date-item" name="batch_date" readonly=""/><i class="layui-icon layui-icon-date"></i></th>
                            <th width="50" style="text-align: center">登记人</th>
                            <th width="120" style="text-align: center">
                                <select name="oper_user" lay-verify="required" lay-search="">
                                    <option value="">直接选择或搜索选择</option>
                                    <option value="潘博">潘博</option>
                                    <option value="马文龙">马文龙</option>
                                    <option value="徐文杰">徐文杰</option>
                                    <option value="邹智勇">邹智勇</option>
                                </select>
                            </th>
                            <th width="200" style="text-align: center" colspan="3">备注</th>
                        </tr>
                        <tr>
                            <th width="50" style="text-align: center">序号</th>
                            <th width="120" style="text-align: center">执行项目</th>
                            <th width="120" style="text-align: center">开始时间</th>
                            <th width="120" style="text-align: center">结束时间</th>
                            <th width="120" style="text-align: center">异常情况</th>
                            <th width="120" style="text-align: center">处理人</th>
                            <th width="120" style="text-align: center">
                                <button type="button" class="layui-btn layui-btn-xs" id="photo_upload"><i class="layui-icon"></i>图片上传</button>
                            </th>
                        </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td rowspan='4'>一</td>
                        <td colspan='5'>生成账务步骤如下</td>
                        <td rowspan='4'>
                            <div class="layui-upload-list" id="photo_list"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>生成账务</td>
                        <td><input type="text" class="layui-input time-item" name="task_bt_1" readonly=""/><i class="layui-icon layui-icon-date"></i></td>
                        <td><input type="text" class="layui-input time-item" name="task_et_1" readonly=""/><i class="layui-icon layui-icon-date"></i></td>
                        <td><input type="text" class="layui-input" name="error_msg_1"/></td>
                        <td><input type="text" class="layui-input" name="error_user_1"/></td>
                    </tr>
                    <tr>
                        <td>记账</td>
                        <td><input type="text" class="layui-input time-item" name="task_bt_2" readonly=""/><i class="layui-icon layui-icon-date"></i></td>
                        <td><input type="text" class="layui-input time-item" name="task_et_2" readonly=""/><i class="layui-icon layui-icon-date"></i></td>
                        <td><input type="text" class="layui-input" name="error_msg_2"/></td>
                        <td><input type="text" class="layui-input" name="error_user_2"/></td>
                    </tr>
                    <tr>
                        <td>关账</td>
                        <td><input type="text" class="layui-input time-item" name="task_bt_3" readonly=""/><i class="layui-icon layui-icon-date"></i></td>
                        <td><input type="text" class="layui-input time-item" name="task_et_3" readonly=""/><i class="layui-icon layui-icon-date"></i></td>
                        <td><input type="text" class="layui-input" name="error_msg_3"/></td>
                        <td><input type="text" class="layui-input" name="error_user_3"/></td>
                    </tr>
                    <tr>
                        <td colspan='7'>
                            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">提交</button>
                            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</form>
<script src="../../static/layui/layui.js"></script>
<script>
//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
    var element = layui.element;
});
</script>
<script>
layui.use('upload', function(){
    var $ = layui.jquery,
    upload = layui.upload;
    //多图片上传
    upload.render({
        elem: '#photo_upload'
        ,url: 'https://httpbin.org/post' //改成您自己的上传接口
        ,multiple: true
        ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
                $('#photo_list').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
            });
        }
        ,done: function(res){
        //上传完毕
        }
    });
});
</script>
<script>
layui.use('laydate', function(){
    var laydate = layui.laydate;
    //常规用法
    lay('.date-item').each(function(){
        laydate.render({
            elem: this,
            type: 'date',
            eventElem: '.layui-icon-date',
            trigger: 'click'
        });
});
    //同时绑定多个
    lay('.time-item').each(function(){
        laydate.render({
            elem: this,
            format: 'HH:mm:ss',
            type: 'time',
            trigger: 'click'
        });
    });
});
</script>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>
</body>
</html>